{% extends "base.html" %}
{% load static %}

{% block style %}
    <!-- <link rel="stylesheet" href="{% static 'bundle.css' %}"> -->
{% endblock %}

{% block content %} 
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <a href="/api/user/"><span class="icon flaticon-password"></span> Login</a>
    <div id="app"></div>

{% endblock %}

{% block js %}
    <!-- <script src="{% static 'bundle.js' %}"></script> -->
{% endblock %}